@import "tailwindcss";

:root{
  --purple: #7038ff;
  --dark-purple: #211a42;
  --gold: #FFBA26;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.animated-gradient-border {
  background: conic-gradient(from var(--gradient-angle), var(--purple), var(--gold), var(--purple));
  animation: rotate-gradient 5s linear infinite;
}

@keyframes rotate-gradient {
  to {
    --gradient-angle: 360deg;
  }
}

.clipped-section {
  clip-path: polygon(0 0, 100% clamp(8%, 20vw,30%), 100% 100%, 0 100%);
  padding-top: clamp(80px, 25vh, 100px);
}